<!-- About section-->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Chi siamo</h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4">
	La Edil.Pav è un’azienda di riferimento nel settore delle pavimentazioni in calcestruzzo e rivestimenti in resina. Ogni giorno amplia il suo know-how, partendo da una esperienza quarantennale del proprio team nel settore delle pavimentazioni, alla continua ricerca della soluzione migliore in un settore in continua innovazione.<br><br>
Seguiamo i clienti dalla progettazione dell’opera fino alla realizzazione, tutto attraverso i nostri collaboratori, senza la necessità di personale esterno, fornendo un prodotto con degli standard qualitativi eccezionali. <br><br>Affidandosi a Edil.pav per la sicurezza delle lavorazioni eseguite, per la tutela dell’opera da realizzare, per la professionalità, per le tempistiche precise nella riconsegna delle opere e per la loro disponibilità nella risoluzione di qualsiasi problema.
	</p>
        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">I nostri servizi</a> -->
      </div>
    </div>
  </div>
</section>
