<!-- Contact section-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Contattaci</h2>
        <hr class="divider my-4" />
        <p class="text-muted mb-5">Hai bisogno di informazioni o vuoi richiedere un preventivo?<br>I nostri tecnici sono a tua disposizione, senza nessun impegno.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mr-auto text-center">
        <!-- <i class="fas fa-envelope fa-3x mb-3 text-muted"></i> -->
	<!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
	<div><b>SEDE DI SPOLTORE (PE)</b></div>
	<div>Sede legale: Via F.Fellini 25 <br>65010 Spoltore (PE)</div>
	<div>Tel: 0858270717</div>
	<a class="d-block" href="mailto:info@edilpav.it">Mail: info@edilpav.it</a>
      </div>
      <div class="col-lg-6 ml-auto text-center mb-5 mb-lg-0">
        <!-- <i class="fas fa-phone fa-3x mb-3 text-muted"></i> -->
        <div><b>SEDE DI ROMA</b></div>
	<div>Viale Battista Bardanzellu 71 <br>00155 Roma (RM)</div>
	<div>Tel: 3391113964</div>
	<a class="d-block" href="mailto:inforoma@edilpav.it">Mail: inforoma@edilpav.it</a>
      </div>
    </div>
  </div>
</section>
