<!-- Services section-->
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">Servizi</h2>
    <hr class="divider my-4" />
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="mt-5">
          
          <img src="/image/home/img/service/industriale.jpg" alt="pavimento industriale" class="img-fluid"/>
	  <br><br>
	  <h3 class="h4 mb-2">Pavimentazione industriali in calcestruzzo</h3>
	  <ul class="text-muted mb-0">
	    <li class="text-left">Pavimentazioni in calcestruzzo<ul><li>Metodo Tradizionale</li><li>Metodo ad elevata tecnologia con macchina Laser Screed e spolveratrice</li></ul></li>
	    <li class="text-left">Pavimentazione stampata</li>
	    <li class="text-left">Pavimentazioni in ghiaietto (o sasso) lavato</li>
	    <li class="text-left">Pavimentazioni post-tese</li>
	    <li class="text-left">Pavimentazioni in calcestruzzo lucidate</li>
	    <li class="text-left">Pavimentazioni drenanti</li>
	  </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="mt-5">
          
	  <img src="/image/home/img/service/trattamenti.jpg" alt="trattamenti" class="img-fluid"/>
	  <br><br>
	  <h3 class="h4 mb-2">Trattamenti pavimentazioni in calcestruzzo</h3>
          <ul class="text-muted mb-0">
	    <li class="text-left">Pulizia</li>
	    <li class="text-left">Antipolvere</li>
	    <li class="text-left">Protettivi</li>
	    <li class="text-left">Antimacchia</li>
	    <li class="text-left">Rinnovanti</li>
	    <li class="text-left">Nanotecnologie</li>
	  </ul>
	</div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="mt-5"> 
          <img src="/image/home/img/service/resina.jpg" alt="resina" class="img-fluid"/>
	  <br><br>
	  <h3 class="h4 mb-2">Pavimentazioni in resina</h3>
	  <ul class="text-muted mb-0">
      	    <li class="text-left">Ad uso civile</li>
      	    <li class="text-left">Ad uso industriale</li>
      	  </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="mt-5">
	  <img src="/image/home/img/service/ripristino.jpg" alt="ripristino" class="img-fluid"/>
          <br><br>
	  <h3 class="h4 mb-2">Ripristino della pavimentazione</h3>
	  <ul class="text-muted mb-0">
      	    <li class="text-left">Demolizione parziale e ripristino della pavimentazione</li>
      	    <li class="text-left">Demolizione totale e ripristino della pavimentazione</li>
      	  </ul>
        </div>
      </div>
    </div>
  </div>
</section>
