<!-- Tools section-->
<section class="page-section bg-primary" id="services">
  <div class="container">
    <h2 class="text-center mt-0 text-white">Strutture e Risorse</h2>
    <hr class="divider light my-4" />
    <div class="row">
      
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <img src="/image/home/img/tools/personale.jpg" alt="resina" class="img-fluid"/>
	  <br><br>
          <h3 class="h4 mb-2 text-white">Personale</h3>
          <p class="text-muted mb-0 text-white-50">Una squadra di collaboratori che operano con passione, dedizione e con una grande voglia di fare sempre meglio.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <img src="/image/home/img/tools/mezzi.jpg" alt="resina" class="img-fluid"/>
	  <br><br>
	  <h3 class="h4 mb-2 text-white">Mezzi e Attrezzature</h3>
          <p class="text-muted mb-0 text-white-50">Strumenti ed attrezzatura ad alta tecnologia, con un parco mezzi, per soddisfare qualsiasi tipo di intervento.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <img src="/image/home/img/tools/esperienza.jpg" alt="resina" class="img-fluid"/>
	  <br><br>
	  <h3 class="h4 mb-2 text-white">Esperienza</h3>
          <p class="text-muted mb-0 text-white-50">Un know-how quarantennale che viene ampliato giorno dopo giorno dalle sfide che il mercato ci mette davanti.</p>
        </div>
      </div>
 
    </div>
  </div>
</section>
